.header {
  background: var(--white);
  padding: 1rem 5%;
  height: 8rem;
  overflow: hidden;
  color: var(--black);
  box-shadow: 0 0 3rem 0.1rem var(--grey200);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .row .col {
  flex: 1 1 48%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.header .row .left {
  gap: 0rem 5rem;
}

.header .row .left .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 1rem;
  text-transform: capitalize;
  font-size: 2.4rem;
  letter-spacing: 0;
  letter-spacing: -0.1rem;
  color: var(--blueLight);
}
.header .row .left .logo .img {
  width: auto;
  height: 6rem;
}

.header .row .right {
  justify-content: flex-end;
  gap: 0 1rem;
}
.header .row .right .searchForm {
  display: flex;
  height: 100%;
  align-items: center;
  background: var(--white);
  padding: 0 2rem;
  border-radius: 5rem;
  width: 60%;
  border: 0.1rem solid var(--blueLight);
}
.header .row .right .searchForm label {
  color: var(--blueLight);
  cursor: pointer;
}
.header .row .right .searchForm input {
  height: 100%;
  border: none;
  outline: none;
  margin-left: 1rem;
  font-size: 1.6rem;
  flex: 1 1 85%;
  border-radius: 5rem;
}
.header .row .right .searchForm input::placeholder {
  color: var(--blueLight);
}

.header .row .right .profile {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .row .right .profile .img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
